<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Login</title>

        <style>
            body, html {
                height: 100%;
            }
        </style>
        
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                // Not letting user submit blank username
                document.getElementById("submit").disabled = true;
                document.getElementById("username").onkeyup = function() {
                    if (this.value.length > 0) {
                        document.getElementById("submit").disabled = false;
                    } else {
                        document.getElementById("submit").disabled = true;
                    }
                };

                // Gets username and checks if user is already active
                document.getElementById("submit").onclick = () => {
                    const request = new XMLHttpRequest();
                    request.open("POST", "/active_users");
                    request.onload = function() {
                        const data = JSON.parse(this.responseText);
                        if (data.success) {
                            sessionStorage.setItem("username", document.getElementById("username").value);
                            window.location.href = "{{url_for('index')}}";
                        } else {
                            alert("User is already in chat!")
                            return false;
                        }
                    };
                    const data = new FormData();
                    data.append("username", document.getElementById("username").value);
                    request.send(data);
                };
            });
        </script>

    </head>
    <body>
        <!-- Login portal -->
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="jumbotron mx-auto col-md-6 col-8">
                    <h2>Flask Chat</h2>
                    <form>
                        <div class="form-group">
                            <label>Username</label>
                            <input id="username" type="text" class="form-control" autocomplete="off">
                        </div>
                        <button id="submit" type="submit" class="btn btn-block btn-outline-secondary">Join</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>